body {
  background: url('https://openweathermap.org/themes/openweathermap/assets/img/new-history-forecast-bulk.png');
  background-size:cover;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}

#show_temp {
  font-size: 40px;
}

.container {
  background: white;
  width: 60vw;
  border-radius: 25px;
  text-align: center;
  margin: auto;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}